body {

    margin:0;
    background:#eeeeee;
    overflow:hidden;
    font-family:Arial;

}


#game {

    width:100vw;
    height:100vh;
    position:relative;

}



.player {

    position:absolute;
    text-align:center;

}


.player img {

    width:120px;

}


.player span {

    display:block;
    font-size:22px;
    font-weight:bold;

}



#player1 {

    left:120px;
    bottom:120px;

}



#player2 {

    right:120px;
    bottom:120px;

}



#player3 {

    left:50%;
    top:80px;
    transform:translateX(-50%);

}



#ball {

    position:absolute;

    width:50px;

    left:50%;
    top:50%;

}
