body {
    margin:0;
    font-family:Arial;
    background:#eeeeee;
}


#game {
    width:900px;
    margin:auto;
    text-align:center;
}


#players {
    margin-top:100px;
    display:flex;
    justify-content:space-around;
}


.player {
    width:150px;
    height:150px;
}


.avatar {
    font-size:80px;
}


.human {
    border:3px solid blue;
    border-radius:20px;
}


#ball {
    font-size:50px;
    margin-top:40px;
}


#message {
    margin:30px;
    font-size:22px;
}


button {
    padding:15px;
    margin:10px;
    font-size:18px;
}
